* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body { 
    background-image: url("../imagens/massa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.459);
}

img.capa {
    display: block;
    max-width: 100%;
    height : auto;
}